<app-header></app-header>
<app-navbar></app-navbar>

 
   
				  <div class="owl-stage" style="transform: translate3d(-11430px, 0px, 0px); transition: 0.25s; width: 30480px;">
					<div class="owl-item cloned" style="width: 1905px;">
						<div class="item d-flex align-items-center" style="height: 90vh;background-image: url('@/src/assert/maxresdefault.jpg'); background-size: cover; background-position: center;">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-lg-12 text-white">
									<!-- <h5 class="text-primary-color fw-bold" style="letter-spacing: 2px;">MAIS RECENTE</h5> -->
									<h1 class="display-12 fw-bold" style="color: #00ff00;" >SISTEMA DE EXAME DE PAGAMENTO DE PESSOAL DO EXÉRCITO - SEPPEx</h1>
									<p>Sistema para realização do exame da folha de pagamento dos militares da ativa, veteranos, servidores civis em exercício
                    e pensionistas do Exército Brasileiro.</p>
									</div>
								</div>
							</div>
            </div>
					</div>
        </div>
     
 

  <section class="banner-section">
      <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="1" data-lap_num="1" data-tab_num="1"
                  data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="0">
        <div class="owl-stage-outer">
				  <div class="owl-stage" style="transform: translate3d(-11430px, 0px, 0px); transition: 0.25s; width: 30480px;">
					<div class="owl-item cloned" style="width: 1905px;">
						<div class="item d-flex align-items-center" style="height: 90vh;background-image: url('@/src/assert/maxresdefault.jpg'); background-size: cover; background-position: center;">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-lg-12 text-white">
									<!-- <h5 class="text-primary-color fw-bold" style="letter-spacing: 2px;">MAIS RECENTE</h5> -->
									<h1 class="display-12 fw-bold" style="color: #00ff00;" >SISTEMA DE EXAME DE PAGAMENTO DE PESSOAL DO EXÉRCITO - SEPPEx</h1>
									<p>Sistema para realização do exame da folha de pagamento dos militares da ativa, veteranos, servidores civis em exercício
                    e pensionistas do Exército Brasileiro.</p>
									</div>
								</div>
							</div>
            </div>
					</div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
